# Override some defaults so BT stack is enabled
CONFIG_IDF_TARGET="esp32c2"
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_120=y

#
# Main XTAL Config
#
CONFIG_XTAL_FREQ_26=y
CONFIG_XTAL_FREQ=26

CONFIG_BROKER_URL="mqtt://192.168.0.101:1883"
CONFIG_BROKER_USER="esp32c2"
CONFIG_BROKER_PASSWORD="12345678"

CONFIG_ESP32_WIFI_AMPDU_RX_ENABLED=y

CONFIG_ESPTOOLPY_MONITOR_BAUD=115200
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200

# CONFIG_ESP_CONSOLE_UART_DEFAULT is not set
CONFIG_ESP_CONSOLE_UART_CUSTOM=y
CONFIG_ESP_CONSOLE_UART=y
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_CONSOLE_UART_TX_GPIO=20
CONFIG_ESP_CONSOLE_UART_RX_GPIO=19
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200